<!--<div class="detail" (mouseleave)="getMouseleave($event,i)" (mouseenter)="getMouseEnter($event,i)">-->
  <!--<div class="user-info">-->
    <!--<img class="user-portrait" [src]="recommend.answer.answerAuthor.userPicture" alt="">-->
    <!--<span class="user-name">{{recommend.answer.answerAuthor.userName}}</span>-->
    <!--<span class="user-description">{{recommend.answer.answerAuthor.userDescription}}</span>-->
  <!--</div>-->
  <!--<div class="answer-detail" [innerHTML]="recommend.answer.answerDetail.answerContent | html"></div>-->
<!--</div>-->

